autopep8==1.4
coverage==4.5.1
coveralls==1.5.1
Flask==1.0.2
Flask-HTTPAuth==3.2.4
Flask-RESTful==0.3.6
pep8==1.7.1
pylint==2.1.1
pytest==3.9.1
pytest-cov==2.6.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
virtualenvwrapper-win==1.2.5
gunicorn==19.9.0
